{

  "extends": "airbnb",
  
  "parser": "babel-eslint",

  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "no-plusplus": "off",
    "object-curly-newline": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react/prop-types": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "max-len": "off"
  },
  "settings": {
    "import/ignore": [
      "node_modules"
    ]
  }
}